/*
 * Enclustra Mars ZX3 SOM on EB1 devicetree
 *
 * Copyright (C) 2015 Antmicro Ltd
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */
/dts-v1/;
#include "zynq-7000.dtsi"

/ {
	model = "Enclustra Mars ZX3 SOM";
	compatible = "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		mmc0 = &sdhci0;
		serial0 = &uart0;
		spi0 = &qspi;
	};

	memory {
		device_type = "memory";
		reg = <0 0x20000000>;
	};
};

&uart0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&qspi {
	u-boot,dm-pre-reloc;
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&gem0 {
	u-boot,dm-pre-reloc;
	status = "okay";
	phy-handle = <&ethernet_phy>;
	phy-mode = "rgmii-id";
	ethernet_phy: ethernet-phy@3 {
		reg = <3>;
	};
};
