/*
 * Enclustra Mars ZX3 SOM on EB1 devicetree
 *
 * Copyright (C) 2015 Antmicro Ltd
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */
/dts-v1/;
#include "zynq-7000.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Enclustra Mars ZX3 SOM";
	compatible = "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		mmc0 = &sdhci0;
		serial0 = &uart0;
		spi0 = &qspi;
		usb0 = &usb0;
		gpio0 = &gpio0;
		i2c0 = &i2c0;
	};

	memory {
		device_type = "memory";
		reg = <0 0x20000000>;
	};
};

&uart0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&qspi {
	u-boot,dm-pre-reloc;
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
	cd-gpios = <&gpio0 50 GPIO_ACTIVE_LOW>;
};

&gem0 {
	u-boot,dm-pre-reloc;
	status = "okay";
	phy-handle = <&ethernet_phy>;
	phy-mode = "rgmii-id";
	ethernet_phy: ethernet-phy@3 {
		reg = <3>;
	};
};

&usb0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	atsha204a@64 {
		compatible = "atmel,atsha204a";
		reg = <0x64>;
	};
};
