
/ {
	usb_phy0: phy0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
	disable-wp;
};

&sdhci1 {
	status = "okay";
	non-removable;
};

&amba {
	ref24: ref24M {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};
};

&i2c0 {
	// The isl12022 driver is used for the ISL12020M
	isl12022: isl12022@6f {
		status = "okay";
		compatible = "isil,isl12022";
		reg = <0x6f>;
	};
};
