CONFIG_SYS_CONFIG_NAME="enclustra_xu"
CONFIG_IDENT_STRING=" Enclustra Mercury XU9"
CONFIG_SYS_PROMPT="Mercury XU9> "
CONFIG_DEFAULT_DEVICE_TREE="enclustra_generated"
CONFIG_ENCLUSTRA_QSPI_FLASHMAP=y
CONFIG_ATSHA204A=y
CONFIG_ENCLUSTRA_EEPROM_MAC=y
CONFIG_SF_DEFAULT_SPEED=50000000
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="run $modeboot"
# CONFIG_OF_LIST is not set
# CONFIG_SPL is not set
# CONFIG_NET_RANDOM_ETHADDR is not set
