CONFIG_SYS_CONFIG_NAME="zynq_mars_zx2"
CONFIG_IDENT_STRING=" Enclustra Mars ZX2"
CONFIG_SYS_PROMPT="Mars ZX2> "
CONFIG_DEFAULT_DEVICE_TREE="enclustra_generated"
CONFIG_ATSHA204A=y
CONFIG_ENCLUSTRA_EEPROM_MAC=y
CONFIG_SF_DEFAULT_SPEED=50000000
CONFIG_BOOT_SCRIPT_OFFSET=0x1f80000
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="run $modeboot"
CONFIG_ENCLUSTRA_QSPI_FLASHMAP=y
# CONFIG_OF_LIST is not set
# CONFIG_SPL is not set
# CONFIG_ENV_IS_IN_SPI_FLASH is not set
# CONFIG_NET_RANDOM_ETHADDR is not set
